
.form-wrapper {
    border: 2px solid #175676;
    background-color: #4BA3C3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.disabled-wrapper {
    background-color: gainsboro !important;
}

input, select {
    padding-left: 10px;
    font-size: 1rem;
    margin-left: 5px;
    height: 25px;
    flex-grow: 3;
}

select .dangerous-option {
    color: yellow;
}

select .safe-option {
    color: green;
}

.form-wrapper span {
    flex-grow: 1;
    flex-basis: 5%;
    line-height: 25px;
}

.cancel-btn {
    background-color: #d1852e;
    border: 2px solid #4BA3C3;
    color: white;
}

.submit-btn {
    background-color: #175676;
    border: 2px solid #4BA3C3;
    color: white;
}