.user-list-item {
    border-left: 1px solid #4BA3C3;
    margin: 10px 0 30px 0;
    padding-left: 10px;
}

.small-margin {
    margin: 10px 0 10px 0 !important;
}

.user-list-header {
    display: inline-block;
    margin-bottom: 10px;
    color: #BA324F;
    font-size: 1.5rem;
    line-height: 20px;
    -webkit-font-smoothing: antialiased !important;
}

.user-list-header:hover {
    cursor: pointer;
    color: #D62839;
}

.user-list-content {
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #175676;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.list-img {
    height: 15px;
    margin-right: 8px;
    padding: 2px;
}

.list-img:hover {
    cursor: pointer;
    border-radius: 2px;
}

.pen:hover {
    background-color: #4BA3C3;
}

.trashcan:hover {
    background-color: #BA324F;
}

.list-server {
    padding-bottom: 10px;
    color: #4BA3C3;
}

.highlighted-item {
    border-radius: 3px;
    margin-right: 3px;
    padding: 1px 3px 1px 3px;
}

.list-source {
    background-color: #7be0cd;
}

.list-target {
    background-color: #a79bdf;
}

button {
    padding: 1px 4px 1px 2px;
    border-radius: 2px;
    color: white;
    font-size: .75rem;
    margin-right: 5px;
}

button:hover {
    cursor: pointer;
}

button.delete {
 background-color: #BA324F;
}

button.delete:disabled {
    background-color: gainsboro;
    cursor: not-allowed;
}

button.cancel {
    background-color: #175676;
}

.incorrect-password {
    color: #BA324F;
    font-size: .75rem;
    padding-right: 5px;
}