.user-list-item {
    border-left: 1px solid #4BA3C3;
    margin: 10px 0 30px 0;
    padding-left: 10px;
}

.small-margin {
    margin: 10px 0 10px 0 !important;
}

.user-list-header {
    display: inline-block;
    margin-bottom: 10px;
    color: #BA324F;
    font-size: 1.5rem;
    line-height: 20px;
    -webkit-font-smoothing: antialiased !important;
}

.user-list-header:hover {
    cursor: pointer;
    color: #D62839;
}

.user-list-content {
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #175676;
    padding-bottom: 3px;
}

.inline {
    display: inline-block;
}

.list-img {
    height: 15px;
    float: right;
    margin-right: 8px;
    padding: 2px;
}

.list-img:hover {
    cursor: pointer;
    background-color: #4BA3C3;
    border-radius: 2px;
}

.list-server {
    padding-bottom: 10px;
    color: #4BA3C3;
}

.highlighted-item {
    border-radius: 3px;
    margin-right: 3px;
    padding: 1px 3px 1px 3px;
}

.list-source {
    background-color: #7be0cd;
}

.list-target {
    background-color: #a79bdf;
}